body{
    background-color: blueviolet;
}

/* changing color of header bg */
header{
    background-color: aqua;
    padding: 20px;
    margin: 20px;
}
p{ 
    color: azure;
}
h1,h2,h3{
    text-decoration: underline;
}
section p{
border: 2px solid black;
}
/* using id to target an element */
#aboutus{
    background-color: aquamarine;
}
/* using class to traget an element*/
.imp-para{
    /* text-transform: uppercase; */
    background-color: brown;
    color: beige;
}
section ul li:nth-child(odd){
    background-color: lightcoral;
}