.box{
    width: 100px;
    height: 100px;
    background-color: #e02f2f;
    border: 2px solid black;
}
.boxes{
    border: 2px solid black;
    display: flex;
    /*flex-direction: row-reverse; */
    /*flex-direction: column-reverse; */
    flex-wrap: wrap;

}
.boxes1{
    display: flex;
    justify-content: flex-end;
}